version: '3.8'

services:
  app:
    build: .
    ports:
      - "8501:8501"
    volumes:
      - ./logs:/app/logs
    environment:
      - MODEL_PATH=/app/checkpoints/resnet3d_best_10_01_16:49.pt
      - LOG_LEVEL=INFO
      - DATABASE_URL=postgresql://user:password@db:5432/knee_db
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: knee_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
